* {
    margin : 0;
    padding: 0;
}

.mainbody{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(45, 50, 58), rgb(100, 108, 175));
    min-height: 35vw;
}

.container {
    overflow-y: scroll;
    margin: 20px auto;
    width: 90vw;
    padding: 20px;
    background-color: #0e1e3b; /* Dark Blue */
    color: #fff;
    border-radius: 18px;
    box-shadow: 0px 0px 10px rgba(237, 233, 233, 0.893);
}

.container::-webkit-scrollbar {
    width: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 18px;
    background-color: #114eb1; /* Blue */
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ffffff56;
}

th {
    text-align: center;
    font-style: bold;
    background-color: gray;
}

tr:nth-child(even) {
    background-color: #7cace2; /* Light Blue */
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 400px;
}

.confirmbtn {
  border-radius: 5px;
  background-color: #187695;
  padding: 6px;
}

/* Header CSS */

header {
    background-color: #222222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .logo img {
    padding-left: 10px;
    width: 130px;
    height: 130px;
  }
  
  .features {
    font-size: 22px;
    display: flex;
    gap: 30px;
  }
  
  .feature {
    cursor: pointer;
  }
  
  .feature a {
    text-decoration: none;
    color: inherit; } 
  
  
    @media (max-width: 900px) {
      .column2 h3, p{
        color: white;
        text-align: center;
        font-size: 12px;
        }
  
      .column1 img {
        padding: 20px 0px 0px 30px;
        max-width: 200px;
        max-height: 50px;
        }
  
      .feature a {
        text-decoration: none;
        color: inherit;
        font-size: 18px;
        } 
  
      .logo img {
        padding-left: 10px;
        max-width: 100px;
        max-height: 100px;
      }
  
      td, th {
        font-size: 20px;
      }
  
      .img {
        max-width: 300px ;
        max-height: 300px;
      }
  
      td:nth-child(n+5),th:nth-child(n+5) {display:none}
    }

    .edit-button {
      background-color: #3498db;
      color: #fff; 
      padding: 5px 10px; 
      border: none; 
      border-radius: 5px; 
      cursor: pointer;
      align-items: center;
      margin:5px;
    }
    
    /* Change button color on hover */
    .edit-button:hover {
      background-color: #2980b9;
    }
  /*---------------------------------------*/
  /*Footer CSS*/
  
footer {
    bottom: 0;
    position: relative;
    width: 100%;
}
  
  .footercontainer {
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    width: 100%;
    height: 130px;
  }
  
  .column1 img {
    padding: 20px 0px 0px 30px;
    width: 300px;
    max-height: 110px;
  }
  
  .column2 h3, p{
    color: white;
    text-align: center;
  }
  
  .column2 {
    padding-top: 25px;
    padding-right: 30px;
  }