/* Header CSS */

header {
    background-color: #222222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
  }
  
  .logo img {
    padding-left: 10px;
    width: 130px;
    height: 130px;
  }
  
  .features {
    font-size: 20px;
    display: flex;
    gap: 30px;
  }
  
  .feature {
    cursor: pointer;
  }
  
  .feature a {
    text-decoration: none;
    color: inherit; } 
  
.banner {
    padding: 10px;
    text-align: center;
    background-color: yellow;
    border: 2px;
    border-style: solid;
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-image: url(./images/whitemarble.jpg);
    background-size: cover;
      
}

.formcontainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbtn input {
    width: 100%;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    background-color: #5A5A5A;
}

.formcontainer input[type="email"]{
    padding: 8px;
    font-size: 21px;
    border-radius: 4px;
    width: 100%;
    border: 2px solid black;
    padding: 10px 40px 10px 10px;
    background: rgb(128, 128, 128, 0.6);
    
}

label {
    font-size: 20px;
}